<div class="grid grid-cols-12 text-slate-800">
    <div class="col-span-12 md:col-span-2 p-4">
        <div class="h-full rounded-3xl">
            <div class="text-2xl text-rose-800 font-bold mb-4">
                Categories
            </div>

            <div class="categories" *ngFor="let category of categories;">
                <div>
                    <button #categoryButton class="text-nowrap" [ngClass]="{'active': category === 'all'}" (click)="filterByCategory(category)" (click)="setActive(categoryButton)">
                        {{category.charAt(0).toUpperCase() + category.slice(1)}}
                    </button>
                </div>
            </div>



        </div>
    </div>
    <div class="col-span-12 md:col-span-10 p-4 ">
        <div class="text-2xl text-rose-800 font-bold mb-4">
            {{category.charAt(0).toUpperCase() + category.slice(1)}}
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
            <div class="min-h-full" *ngFor="let product of filteredProducts; let i = index">
                <div class="col h-full">
                    <div class="rounded-xl overflow-hidden min-h-full custom-shadow flex flex-col px-4">
                        <div class="p-4">
                            <div class="p-4 min-h-56 ">
                                <img class="max-h-48 w-auto mx-auto" src={{product.image}} alt="">
                            </div>
                        </div>
                        <div class="font-semibold p-2 flex-grow">{{product.title}}</div>
                        <div class="p-2 flex-grow">

                            <div class="mb-3 text-xl font-bold text-rose-900">
                                {{"$ "+product.price}}
                            </div>
                            <div class="text-sm">
                                <ng-container *ngIf="!showFullDescription[i]">
                                    <p class="ease-in duration-300">{{ product.description | slice:0:100 }}</p>
                                    <button class="text-rose-900 font-semibold" (click)="toggleShowMore(i)">Show
                                        more</button>
                                </ng-container>
                                <ng-container *ngIf="showFullDescription[i]">
                                    <p class="ease-in duration-300">{{ product.description }}</p>
                                    <button class="text-rose-900 font-semibold" (click)="toggleShowMore(i)">Show
                                        less</button>
                                </ng-container>
                            </div>
                        </div>

                        <div class="p-2 text-center mb-2">
                            <button class="px-10 border-2 border-rose-800 rounded-md text-slate-200 bg-rose-900">
                                + Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>